@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding:0;
  font-family: "Varela Round", sans-serif;
}

.btn{
  padding:0.5vmin;
  border-radius: 10px;
  background-color: rgb(79, 79, 236);
  color: white;
  border: none;
  transition: all .2s ease-in-out;
}

.btn:hover{
  scale: 1.05;
}

.danger{
  background-color: rgb(173, 7, 7);
}

.main-container{
  margin-top:5vmin;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vmin;
}

.customer-operations-container{
  /* background-color: aliceblue; */
  width: 90%;
  border-radius: 1vmin;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 2vmin;
}

.plan-info-container{
  margin-top:10vmin;
  width: 90%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
}

.plan{
  align-items: center !important;
  transition: all .3s ease-in-out;
}

.plan:hover{
  scale: 1.05;
}

.plan > h1{
  margin-top:1vmin;
}

.plan > hr{
  width: 90%;
  margin-top: .3vmin;
  height: .5vmin;
  background-color: rgb(155, 155, 247);
  border: none;
  border-radius: 10px;
}

.plan > div{
  margin-top: 4vmin;
  text-align: center;

}

.plan > div > p{
  margin-top:1vmin;
  margin-bottom:1vmin;
  font-size:3vmin;
}

.create-customer, .plan, .update-customer, .delete-customer, .check-status, .make-payment, .make-call, .minutes-cost-customer, .check-standing-customer, .monthly-revenue{
  min-width: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding:1vmin;
  min-height: 55vmin;
  background-color: aliceblue;
  border: none;
  border-radius: 1vmin;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
}

.form{
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.input{
  border-radius: 10px;
  height: 2.5vmin;
  border: rgb(155, 155, 247) solid 2px;
  padding-left: .5vmin;
  width: 100%;
  margin: 1vmin 0;
}

.input:focus{
  outline: none;
  border: rgb(79, 79, 236) 2px solid;
}

.create-customer-btn{
  align-self: center;
  margin-top: 3vmin;
  width: 50% !important;
}

#create-customer-form > h2, #update-customer-form > h2, #delete-customer-form > h2, #billing-status-form > h2, #make-payment-form > h2, #make-call-form > h2, #minutes-cost-customer-form > h2, #check-standing-customer-form > h2{
  margin-bottom: 1vmin;
}


#statusMessage, #update_statusMessage, #delete_statusMessage, #minutes_cost_statusMessage, #billing_status_statusMessage, #make_payment_statusMessage, #make_call_statusMessage{
  margin-top:1vmin;
  background-color: rgba(0, 255, 0, 0.3);
  font-weight: bold;
  padding: 0.5vmin;
  border-radius: 0.5vmin;
}

.delete-all-customers{
  margin-top:5vmin;
}

.customer-list, .bank-list, .phone-plan-list, .call-record-list, .payment-list{
  width: 90%;
  background-color: aliceblue;
  padding:1vmin;
  margin-top: 5vmin;
  max-height: 40vmin; 
  overflow-y: scroll; 
  border-radius: 1vmin;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#customersTable, #bankTable, #phonePlanTable, #minutesCostTable, #callRecordsTable, #paymentTable, #transactionTable{
  width:100%;
  text-align: left;
}

#customersTable th, #customersTable td, #standingsTable th, #standingsTable td{
  padding:0.3vmin;
  border-radius: 1vmin;
}

#plan_id, #update_plan_id, #make_payment_card_type{
  width: 100%;
}

#minutesCostTable, #standingsTable, #monthlyRevenueContainer{
  margin-top:2vmin;
}

#standingsTable{
  width: 80%;
  text-align: left;
}

.monthly-revenue{
  align-items: center !important;
}

#monthlyRevenueContainer{
  padding:2vmin;
}

#monthlyRevenueContainer p{
  margin: 0.5vmin;
}

.init-button-container{
  width: 100%;
  height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 2vmin;
}

.init-button-container > hr{
  width: 15%;
}

.init-button-container > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.init-button-container > div > button{
  margin: 0 2vmin;
}

/*Navbar*/
.navbar{
  width: 100%;
  height: 5vmin;
  background-color: aliceblue;
  padding: .75vmin 0;
}

.nav-container{
  width:100%;
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.mainpage-header{
  width:50%;
  padding-left: 5vmin;
}

.nav-links{
  padding-right:5vmin;
  width:50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-logo{
  height: 100%;
  border-radius: 5vmin;
  margin-left:2vmin;
}

.nav-link{
  padding: 1vmin;
  text-decoration: none;
  color: black;
  transition: all .3s ease-in-out;
  border-radius: 20px;
}

.nav-link:hover{
  background-color: rgb(155, 155, 247);
  border-radius: 20px;
  color: white
}

.active-link{
  background-color: rgb(79, 79, 236);
  border-radius: 20px;
  color: white
}