*{
  margin: 0;
  padding:0;
}

.mainpage-header{
  text-align: center;
}

.btn{
  padding:0.5vmin;
}

.customer-container{
  margin-top:5vmin;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-operations-container{
  background-color: aliceblue;
  width: 90%;
  padding: 1vmin;
  border-radius: 1vmin;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 2vmin;
}

.create-customer, .update-customer, .delete-customer, .minutes-cost-customer{
  border: solid black 1px;
  min-width: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1vmin;
  min-height: 55vmin;
}

#create-customer-form > h2, #update-customer-form > h2, #delete-customer-form > h2, #minutes-cost-customer-form > h2{
  margin-bottom: 1vmin;
}

#statusMessage, #update_statusMessage, #delete_statusMessage, #minutes_cost_statusMessage{
  margin-top:1vmin;
  background-color: rgba(0, 255, 0, 0.3);
  font-weight: bold;
  padding: 0.5vmin;
  border-radius: 0.5vmin;
}

.delete-all-customers{
  margin-top:5vmin;
}

.customer-list, .bank-list, .phone-plan-list, .available-plans-list, .call-record-list, .payment-list{
  width: 90%;
  background-color: aliceblue;
  padding:1vmin;
  margin-top: 5vmin;
}

#customersTable, #bankTable, #phonePlanTable, #availablePlansTable, #minutesCostTable, #callRecordsTable, #paymentTable{
  width:100%;
  text-align: left;
}

#customersTable th, #customersTable td{
  padding:0.3vmin;
  border-radius: 1vmin;
}

#plan_id, #update_plan_id{
  width: 100%;
}

#minutesCostTable{
  margin-top:2vmin;
}