*{
  margin: 0;
  padding:0;
}

.mainpage-header{
  text-align: center;
}

.btn{
  padding:0.5vmin;
}

.user-container{
  margin-top:5vmin;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-operations-container{
  background-color: aliceblue;
  width: 90%;
  padding: 1vmin;
  border-radius: 1vmin;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
}

.create-user, .update-user, .delete-user{
  border: solid black 1px;
  min-width: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1vmin;
  min-height: 35vmin;
}

#create-user-form > h2, #update-user-form > h2, #delete-user-form > h2{
  margin-bottom: 1vmin;
}

#statusMessage, #update_statusMessage, #delete_statusMessage{
  margin-top:1vmin;
  background-color: rgba(0, 255, 0, 0.3);
  font-weight: bold;
  padding: 0.5vmin;
  border-radius: 0.5vmin;
}

.delete-all-users{
  margin-top:5vmin;
}

.user-list{
  width: 90%;
  background-color: aliceblue;
  padding:1vmin;
  margin-top: 5vmin;
}

#usersTable{
  width:100%;
}

#usersTable th, #usersTable td{
  padding:0.3vmin;
  border-radius: 1vmin;
  
}